# Python cache
__pycache__/
*.py[cod]
*.pyo

# Byte-compiled
*.pyc

# Virtual environments
.venv/
env/
venv/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test/report output
allure-results/
allure-report/

# Environment config
.env
